<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mybatis.model.Actor" alias="Actor"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <!--<property name="data_source" value="java:global/MoviesDataSource"/>-->
                <property name="data_source" value="openejb:Resource/MoviesDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="ActorMapper.xml"/>
    </mappers>
</configuration>